.DS_Store
Thumbs.db

*.class
*.cdi
/build/


/CORBA/nbproject/private/
/ExemploJPlay/nbproject/private/
/GeoCataloguing/nbproject/private/
/LetsTalk/nbproject/private/
/Reservas/nbproject/private/
/Temporizador/nbproject/private/
/biblioteca/nbproject/private/
/resource/target/

/TCC00166/nbproject/private/

/TCC00173/nbproject/private/

/TCC00174/nbproject/private/

/TCC00175/nbproject/private/
/TCC00175/build/

/TCC00287/nbproject/private/
/TCC00287/build/
/TCC00287/dist/

/TCC00328/nbproject/private/
/TCC00328/build/
/TCC00328/src/provas/s20152/vs20152/
/TCC00328/src/provas/s20161/p120161/


/TIC10086/nbproject/private/
/TIC10086/build/
/TIC10086/src/main/resources/dat/tdb/
/TIC10086/target/
/#TCC00173/nbproject/private/
/#TCC00174/nbproject/private/
/#TCC00175/nbproject/private/
/#TCC00287/nbproject/private/
/#TCC00328/nbproject/private/
/#TCC00287/target/
/#TIC10078/target/
/#TIC10086/target/
/#TCC00175-2/nbproject/private/
/#TCC00174-2/nbproject/private/
/#TCC00173-2/nbproject/private/
/Temporizador2/nbproject/private/
/Reservas2/nbproject/private/
/CORBA2/nbproject/private/
/GeoCataloguing2/nbproject/private/



